### String formatting

In [1]:
print("Code Kami")

Code Kami

In [16]:
name = "Holy"
age = 20
gender = "Female"

# print("Holy is 20, and a female")
print(name, "is", age, ", and a", gender)

Holy is 20 , and a Female

In [17]:
print(name + " is " + str(age) + ", and a " + gender)

Holy is 20, and a Female

#### %s

In [18]:
"%s is %s, and a %s" %(name, age, gender)

'Female is Holy, and a 20'

#### .format()

In [8]:
"{} is {}, and a {}".format(name, age, gender)

'Holy is 20, and a Female'

#### fstring

In [9]:
f"{name} is {age}, and a {gender}"

'Holy is 20, and a Female'

### Len function

In [10]:
length_of_my_name = len("Radiance")

In [11]:
length_of_my_name

8

### List

In [12]:
# Empty list

[]

# or

list()

[]

In [2]:
[1, 2, 3]

[1, 2, 3]

In [ ]:
# A list can contain different types
[
    1, -2.3, True, "Radiance", ["Bankai"]
]

In [3]:
#              0          1        2          3         -> from the front
#             -4         -3       -2         -1         <- from the back
basket = ["Pineapple", "Apple", "Orange", "Pawpaw"]
print(basket)

['Pineapple', 'Apple', 'Orange', 'Pawpaw']

In [4]:
len(basket)

4

#### Number line
-3 -2 -1 0 1 2 3

-0 is same as +0 same as 0

In [19]:
basket[0]

'Pineapple'

In [13]:
basket[-1]

'Berry'

In [7]:
basket.append("Berry")

In [8]:
basket

['Pineapple', 'Apple', 'Orange', 'Pawpaw', 'Berry']

In [ ]:
# remove items from a list

### Tuple